<section id="references">
    <div class="container mb-5">
        <h2><strong>References</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="card shadow-lg  rounded pb-3" data-aos="fade-right" data-aos-delay="300" style="background-color:white;">
        <div class="row" style="margin-top: 10px;margin-left:2px ;">
            <div class="col-md-4"><img class="img" src="../../assets/images/Arunp2.jpg" alt="" style="width: 250px;height: 320px;border-radius: 5%;"> </div>
            <div class="col-md-8"> 
                 <ul>
                    <li ><img src="../../assets/images/mail.png" alt="" style="width: 40px;height: 40px;"><strong> Mail :-</strong> <a href="mailto:Pulapaarunaa@gmail.com"  class="mail"> <span class="mail">Pulapaarunaa@gmail.com</span> </a></li>
                    <br>
                    <li > <img src="../../assets/images/insta.png" alt=""> <strong>Instagram :- </strong><a href="https://instagram.com/arun_pulapa_12?igshid=MjEwN2IyYWYwYw==" class="insta"> Arun Pulapa</a></li>
                    <br>
                    <li ><img src="../../assets/images/face.png" alt=""><strong>Face Book :- </strong><a href="https://www.facebook.com/profile.php?id=100005108327212" class="facebook"> Arun Kumar Pulapa</a> </li>
                    <br>
                    <li ><img src="../../assets/images/twitt.png" alt=""><strong>Twitter :-</strong><a href="https://twitter.com/Arun97801647" class="twitter"> Arun Pulapa</a> </li>
                    <br>
                    <li ><img src="../../assets/images/youtube.png" alt=""><strong>YouTube :-</strong><a href="https://www.youtube.com/channel/UCo_3t6Ce1OW3l7GEAd4EdBw" class="youtube"> Arun Kumar Pulapa</a> </li>
                </ul>

            </div>
            <!-- <div class="col-md-3" >  </div>
            <div class="col-md-3" > </div> -->
        </div>
        </div>
    </div>
</section>